<nav class="navbar navbar-light bg-light static-top">
    <div class="container">
        <a class="navbar-brand" href="{% url "" %}">Inicio</a>
        <a class="navbar-brand" href="{% url "formulario_producto" %}">Producto</a>
        <a class="navbar-brand" href="{% url "formulario_categoria" %}">Categoria</a>
        <a class="navbar-brand" href="{% url "formulario_cliente" %}">Cliente</a>
        <a class="navbar-brand" href="{% url "buscar" %}">Buscar</a>
        <a class="navbar-brand" href="{% url "catalogo" %}">Lista de Productos</a>
        <a class="navbar-brand" href="{% url "categorias" %}">Categorias de Productos</a>
        <a class="btn btn-primary" href="#signup">Sign Up</a>
        <a class="btn btn-primary" href="#login">Log in</a>
    </div>
</nav>